
   <div class="container">
   		<br>
		<h2>Group 8</h2>
	    <table class="table table-bordered">
		  <thead>
		    <tr>
		      <th scope="col">Topic</th>
		      <th scope="col">Description</th>
		    </tr>
		  </thead>
		  <tbody>
			  <tr>
               <td scope="row"><%= link_to 'Basics', basiclink_path %></td>
                <td>
                  - PS1: Divide-by-zero<br>
                  - PS1: Google News<br>
                  - PS2: Quotation<br>
                  - PS2: SQL file, Log file<br>
                </td>
       </tr>
        <tr>
               <td scope="row"><%= link_to "Documents", "project_planning_group8.pdf"%></td>
               <td>PS3: Project Planning<br>
               <%= link_to "Issue Tracker(Trello)", " https://trello.com/b/dzOUMJ2X/wae-group8"%><br>
                      
</td>
        </tr>
        <tr>
         
        </tr>


		  </tbody>
		</table>
	</div>
