
<center><h1>Editing Revarticle</h1></center>

<%= render 'form', revarticle: @revarticle %>
<%= render 'revarticles/versions', revarticle: @revarticle %>
<%= link_to 'Show', @revarticle %> |
<%= link_to 'Back', revarticles_path %>
